* {
  margin:0;
  padding:0;
}

body {
  font: normal normal normal 1em/150% "Lucida Grande", "Lucida sans", helvetica, sans-serif;
  background-color:#eee;
  padding: 3em;
}


/* HEADERS */

h1, h2, h3, h4, h5 {line-height:150%;}

h1 {
  color:#ccc;
}
h1 b{
  color:#aaa;
}

h3 {
  color:#777;
}


/* FORMS */

input {
  font-size:large;
  padding:0.25em;
  margin:0.25em 0;
}



ul {
  padding-left:2em;
}